<div class="col-xs-6">
    <h2>Now Playing:</h2>
    <img id="album-art" width="300"
         src="https://images.vexels.com/media/users/3/132597/isolated/preview/e8c7c6b823f6df05ec5ae37ea03a5c88-vinyl-record-icon-by-vexels.png"
         alt="No data"/>
    <h3 id="song-title">Nothing Playing</h3>
    <h4 id="song-artist"></h4>
</div>
<div class="col-xs-6">
    <div id="status_u"></div>
    <div class="input-group">
        <input id="search" type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon1">
        <span class="input-group-btn">
        <button id="search-btn" class="btn btn-default" type="button">Search</button>
      </span>
    </div>
    <ul id="results" class="list-group">
    </ul>
</div>
{% assets 'common_js' %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script src="static/dist/js/socketio.min.js"></script>
<script>
    var u_ws = io.connect('//' + document.domain + ':' + location.port + '/mopidy');
    var song = null;

    u_ws.on('track', function (data) {
        song = JSON.parse(data);
        $('#song-title').html(song.title);
        $('#song-artist').html(song.artists);
        $('#album-art').attr('src', song.art);
    });

    $('#search-btn').click(function () {
        u_ws.emit('mopidy', {
            action: 'search',
            query: $('#search').val(),
            device: '{{ device.name }}'
        });
    });

    $('#search').keypress(function (e) {
        if (e.which == 13) {
            $('#search-btn').click();
            return false;
        }
    });

    u_ws.on('search results', function (data) {
        $('#results').empty();
        var songs = JSON.parse(data);
        songs.forEach(function (song) {
            $('#results').append('<button class="btn btn-default btn-block song-result" id="' + song.uri + '">' + song.name + ' - ' + song.artists[0].name + '</button>');
        });
    });

    u_ws.on('disconnect', function () {
        $('#status_u').html('Status: <span style="color:red">Disconnected</span>');
    });

    u_ws.on('connect', function () {
        $('#status_u').html('Status: <span style="color:green">Connected</span>');
        u_ws.emit('mopidy', {
            action: 'get_current_track',
            device: '{{ device.name }}'
        })
    });

    $('#results').on('click', '.song-result', function () {
        u_ws.emit('mopidy', {
            action: 'add_track',
            uri: $(this).attr('id'),
            device: '{{ device.name }}'
        });
    });

    setInterval(function () {
        u_ws.emit('mopidy', {
            action: 'get_current_track',
            device: '{{ device.name }}',
            song: song,
        });
    }, 5000);
</script>